<!doctype html>
<html>
<head>
    <title>Autometalogolex</title>
    <link rel="stylesheet" href="/css/image.css"/>
</head>
<body>
    <h1 id="autometalogolex">Autometalogolex</h1>
    <hr id="line">
    <h2 id="title">{{title}}</h2>
    <p id="date">{{date}}</p>
    <img id="image" src="{{source}}"/>
    <p id="text">{{text}}</p>
    {{{body}}}
    <div id="nav">
        <a href="/{{prev}}" id="prev">Prev</a>
        <a href="/{{next}}" id="next">Next</a>
    </div>
</body>
</html>